body {
    background-color: #f1faee;
}

/* .post:nth-of-type(2n) {
    background-color: #d1dbcd;
} */

.tag {
    background-color: #e63946;
    color: #f1faee;
}

.post {
    width: 80%;
    border:3px solid #c4dabd;
    border-left-width: 8px;
    padding: 15px;
    margin: 7px;
    margin-left:10%;
    margin-bottom: 1%;
}

.post:hover {
    border-color: #5c914b;
    border-left-width: 10px;
}

.tag {
    padding: 2px;
    border-radius: 10%;
}

.vote_buttons {
    margin:5px;
    padding:5px;
}

.vote_buttons button {
    margin:3px;
    padding: 0.5% 1.2%;
    font-size: 20px;
}

.main_title {
    text-align: center;
}

.vote_buttons button:hover {
    background-color: #1d3557;
    color:papayawhip;
}

.post_text {
    font-size: 18px;
}
